{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/main.css' %}" />
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<header>
    <div>header</div>
</header>
{% block content %}
{% endblock %}
<footer>
    <div>footer</div>
</footer>