/**
  * Extensions
  *
  * @description
  * Contains Sass extensions
  *
  * @version
  * 3.0.0
**/

/**
 * Table of Contents:
 *
 * 1.0 - Typography
 * 2.0 - Icomoon
 * 3.0 - Buttons
 * 4.0 - Clearfix
 * 5.0 - Reset list
 * 6.0 - Vertical align
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 - Typography
 * -----------------------------------------------------------------------------
*/

%typography-base-headings {
	font-family: $font-family-alt;
	margin: 0;
	font-weight: 400;
	font-style: normal;
	line-height: $line-height-standard;
}

%text-headline {
	@extend %typography-base-headings;
	font-family: $font-family-base;
	font-weight: 600;
	@include font-size($h1-sizes);
}

%text-subheadline {
	@extend %typography-base-headings;
	@include font-size($h2-sizes);
}

%text-byline {
	@extend %typography-base-headings;
	@include font-size($h3-sizes);
}

%text-standfirst {
	@extend %typography-base-headings;
	@include font-size($h4-sizes);
}

%text-related {
	@extend %typography-base-headings;
	@include font-size($h5-sizes);
}

%text-promo {
	@extend %typography-base-headings;
	@include font-size($h6-sizes);
	font-weight: 600;
}

%text-paragraph {
	@include font-size($p-sizes);
}



/**
 * 2.0 - Icomoon
 *
 *
 * Description: Sets Icomoon-font for an element
 * -----------------------------------------------------------------------------
 */

%icomoon {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/**
 * 3.0 - Buttons
 *
 * Description: Style for buttons
 * -----------------------------------------------------------------------------
 */

%button {
	border: 0;
	display: inline-block;
	padding: 0.9rem 1.8rem 0.8rem;
	background-color: $blue;
	color: $white !important;
	transition: background-color $transition-time ease-out;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $white;
		background-color: darken($blue, 10%) !important;
	}

	&:active {
		border-color: rgba(82,168,236, .8);
		outline: 0;
		box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.075), 0 0 0.8rem rgba(82,168,236,.6);
	}
}


%button--small {
	@extend %button;
	padding: 0.2rem 1.2rem 0.2rem;
}

%button--no-style {
	padding-right: 10px;
	padding-left: 10px;
	margin-top: -7.5px!important;
	background-color: transparent !important;
	border: 0;
	color: $text-color !important;

	&:hover {
		background-color: transparent !important;
		color: $text-color;
	}

	&:active {
		background-color: transparent;
		box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(82,168,236,.6);
	}
}



/**
 * 4.0 - Clearfix
 *
 * Description: For clearing floats
 * -----------------------------------------------------------------------------
 */

%clearfix {
	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}



/**
 * 5.0 - Reset list
 *
 * Description: Reset the styles of a list
 * -----------------------------------------------------------------------------
 */

%resetList {
	list-style: none;
	margin: 0;
	padding: 0;
}



/**
 * 6.0 - Vertical align
 *
 * Description: Vertically centers content.
 * -----------------------------------------------------------------------------
 */

%vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
