/**
  * Mixins
  *
  * @description
  * Contains Sass mixins
  *
  * @version
  * 3.0.0
**/

/**
 * Table of Contents:
 *
 * 1.0 - Gradient vertical
 * 2.0 - Arrow
 * 3.0 - List with separator
 * 4.0 - Font size
 *   4.1 - Make font size (helper)
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 - Gradient-vertical
 *
 * Description: Creates gradient-vertical with browser prefix.
 * -----------------------------------------------------------------------------
 */

 @mixin clearfix {
	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

@mixin gradient-vertical($startColor: #555, $endColor: #333) {
	background-color: mix($startColor, $endColor, 60%);
	background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
	background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
	background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
	background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}', GradientType=0); // IE9 and down
}



/**
 * 2.0 - Arrow
 *
 * Description: Creates an arrow on a element.
 * -----------------------------------------------------------------------------
 */

@mixin arrow($color, $size, $pos: "left", $inset: false) {
	position: relative;

	&:after, &:before {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		@if $pos == "top" {
			left: 50%;
			@if $inset {
				top: 0;
				border-top-color: $color !important;
			}
			@else {
				bottom: 100%;
				border-bottom-color: $color !important;
			}
		}
		@else if $pos == "right" {
			top: 50%;
			@if $inset {
				right: 0;
				border-right-color: $color !important;
			}
			@else {
				left: 100%;
				border-left-color: $color !important;
			}
		}
		@else if $pos == "bottom" {
			left: 50%;
			@if $inset {
				bottom: 0;
				border-bottom-color: $color !important;
			}
			@else {
				top: 100%;
				border-top-color: $color !important;
			}
		}
		@else if $pos == "left" {
			top: 50%;
			@if $inset {
				left: 0;
				border-left-color: $color !important;
			}
			@else {
				right: 100%;
				border-right-color: $color !important;
			}
		}
	}
	&:after {
		border-color: transparent;
		border-width: $size;
		@if $pos == "top" { margin-left: $size - ($size * 2); }
		@else if $pos == "right" { margin-top: $size - ($size * 2); }
		@else if $pos == "bottom" { margin-left: $size - ($size * 2); }
		@else if $pos == "left" { margin-top: $size - ($size * 2); }
	}
	&:before {
		border-color: transparent;
		border-width: ($size + 1);
		@if $pos == "top" { margin-left: ($size + 1) - (($size + 1) * 2); }
		@else if $pos == "right" { margin-top: ($size + 1) - (($size + 1) * 2); }
		@else if $pos == "bottom" { margin-left: ($size + 1) - (($size + 1) * 2); }
		@else if $pos == "left" { margin-top: ($size + 1) - (($size + 1) * 2); }
	}
}



/**
 * 3.0 - List with separator
 *
 * Description: Creates seperators for each list-element.
 * -----------------------------------------------------------------------------
 */

@mixin listWithSep($sep: ',', $lastChildSep: ',', $spaceBefore: 0.7rem, $spaceAfter: 0.4rem) {
	li {
		display: inline;
		padding-right: $spaceAfter;

		&:before {
			content: $sep;
			padding-right: $spaceBefore;
		}
		&:first-child:before {
			content: '';
			padding-right: 0;
		}
		&:last-child:before {
			content: $lastChildSep;
		}
	}
}



/**
 * 4.0 - Font size
 *
 * Description: Handeling font-sizes with responsivness.
 * @See: http://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
 * -----------------------------------------------------------------------------
 */

@mixin font-size($fs-map, $fs-breakpoints: $typography-breakpoints) {
	@each $fs-breakpoint, $fs-font-size in $fs-map {
		@if $fs-breakpoint == null {
			@include make-font-size($fs-font-size);
		}
		@else {
			// If $fs-font-size is a key that exists in
			// $fs-breakpoints, use the value
			@if map-has-key($fs-breakpoints, $fs-breakpoint) {
				$fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
			}
			@media all and (min-width: $fs-breakpoint) {
				@include make-font-size($fs-font-size);
			}
		}
	}
}


/**
 * 4.1 - Make font size
 *
 * Description: Utility function for mixin font-size
 * @See: http://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
 * -----------------------------------------------------------------------------
 */

@mixin make-font-size($fs-font-size) {
	// If $fs-font-size is a list, include
	// both font-size and line-height
	@if type-of($fs-font-size) == "list" {
		font-size: nth($fs-font-size, 1);
		margin-top: 0;

		@if (length($fs-font-size) > 1) {
			line-height: nth($fs-font-size, 2);
		}
		@if (length($fs-font-size) > 2) {
			margin-bottom: nth($fs-font-size, 3);
		}
		@if (length($fs-font-size) > 3) {
			padding-top: nth($fs-font-size, 4);
		}
	}
	@else {
		font-size: $fs-font-size;
	}
}
